.share-button {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 2em;
  border-radius: 100%;
  width: 3em;
  height: 3em;
}

table thead {
  position: sticky;
  top: 0;
}
th {
  padding: 0;
}
table thead th div {
  background-color: white;
  outline: 1px solid black;
}
table th,
table,
td {
  border: 1px solid black;
  /* background-color: white; */
}
