:root {
  --color-primary: #19af26;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: green;
  }
}

main {
  display: flex;
}

.world-container {
  flex-grow: 1;
}

.world {
  border: 1px dashed var(--color-primary);
  display: inline-block;
  .row {
    display: flex;
  }

  .col {
    border: 1px dashed var(--color-primary);
    width: 3rem;
    height: 3rem;
    margin: 0rem;
    .life {
      position: absolute;
    }
  }
}

.score-board-container {
  padding: 0 1rem;
  background-color: wheat;
  @media (prefers-color-scheme: dark) {
    background-color: darkblue;
  }
}

.score-item {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  .info {
    display: flex;
    .username {
      flex-grow: 1;
    }
  }
  .preview {
    display: flex;
    justify-content: center;
    .score {
      font-size: 0.6rem;
    }
  }
}

.life {
  width: 3rem;
  height: 3rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-size: 0.8rem;
  text-align: center;
  flex-direction: column;
}
